.panel {
    border-bottom: 1px solid hsl(233, 8%, 79%);
    color: hsl(233, 8%, 79%);
}

.panel:nth-child(3) {
    border-bottom: none;
}

.panelTitle {
    color: white;
    margin-bottom: 1em;
    margin-top: 1em;
}

.panelInfo {
    margin-bottom: 1em;
}