.navContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    padding-bottom: 3em;
}

.ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.li:hover {
    text-decoration: underline;
    cursor: pointer;
}