.itemContainer {
    display: flex;
}

.image {
    height: 100%;
    width: 95px;
    margin-right: 1em;
}

.footerItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h2 {
    color: hsl(233, 8%, 79%);
    font-size: 2em;
}

.h3 {
    color: hsl(240, 100%, 5%);
}

.p {
    color: hsl(236, 13%, 42%);
}

@media (min-width: 1150px) {
    .footerItemContainer {
        display: flex;
        gap: 68px;
    }
}

@media (max-width: 1150px) {
    .itemContainer {
        display: flex;
        margin-bottom: 1em;
    }
    .footerItems {
        display: flex;
        justify-content: space-between;
    }
    .image {
        height: 129px;
    }
}